body{
    height: 100%;
}
.footer{
    position: absolute;
    top: 0;
}
.list-container{
    margin-top: 20px;
    border:1 px black ;
}
.item-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}